.footer-container {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 40px;
    background-color: #373737;
    padding: 5px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .statistics {
        font-family: monospace;
        font-size: 18px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;

        .total {
            color: #eee;
        }

        .done {
            color: greenyellow;
        }

        .pending {
            color: orange;
        }
    }
}



.skeleton {
    width: 100px;
}