@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-container, .footer-container {
    font-family: 'Tilt Prism', cursive;
}


.main-content {
    height: calc(100vh - 100px);
    overflow-y: auto;
}
